<html>
<head>
<title> Add Link </title>
<link rel="icon" href="static/FRANKlogo.png" type="image/png">
<link href="/style.css" rel="stylesheet" type="text/css" />
<script src="/script.js"></script>
</head>
<body>
<div class="topnav">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">FRANK Account&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href='/signup'>Signup for a FRANK account</a>
      <a href="/changedesc">Change your descripion</a>
      <a href="/changepass">Change your password</a>
      <a href="/deleteaccount">Delete your account</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Fmail&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/login">Check inbox</a>
      <a href="/sendmail">Send mail</a>
      <a href="/deletemail">Delete mail</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Fmedia&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/makethread">Make thread</a>
      <a href="/allthreads">See all threads</a>
      <a href="/deletethread">Delete thread</a>
      <a href="/likethread">Like thread</a>
      <a href="/unlikethread">Unlike thread</a>
    </div>
  </div>
</div>
    <form action="{{ url_for('addlink') }}" method="POST">
      <h1>Add Link</h1>
      <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <label for="redirectlink"><b>Redirect Link</b></label>
        <input type="text" placeholder="Enter Redirect Link" name="redirectlink" required>
        <label for="link"><b>Text in the Easy to Remember Link after `https://frank.vulcanwm.com/links/`</b></label>
        <input type="text" placeholder="Enter the text in the Easy to Remember Link after https://frank.vulcanwm.com/links/" name="link" required>
        <button type="submit">Add Link</button>
        
      </div>
    </form>
    <div class="error">
      <h3><strong>{{ text }}</strong></h3>
    </div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177820778-1"></script>
</body>
</html>