<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Check inbox - FRANK </title>
    <link rel="icon" href="static/FRANKlogo.png" type="image/png">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script src="/script.js"></script>
  </head>
  <body>
<div class="topnav">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">FRANK Account&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href='/signup'>Signup for a FRANK account</a>
      <a href="/changedesc">Change your descripion</a>
      <a href="/changepass">Change your password</a>
      <a href="/deleteaccount">Delete your account</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Fmail&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/login">Check inbox</a>
      <a href="/sendmail">Send mail</a>
      <a href="/deletemail">Delete mail</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Fmedia&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/makethread">Make thread</a>
      <a href="/allthreads">See all threads</a>
      <a href="/deletethread">Delete thread</a>
      <a href="/likethread">Like thread</a>
      <a href="/unlikethread">Unlike thread</a>
    </div>
  </div>
</div>

    <form action="{{ url_for('login') }}" method="POST">
      <h1>Check inbox</h1>
      <div class="container">
        <label for="name"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
        
      </div>
    </form>
    <div class="error">
      <h3><strong>{{ text }}</strong></h3>
    </div>

  </body>
</html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177820778-1"></script>