<html>
<head>
<title>FRANK - Home Page</title>
<link rel="icon" href="static/FRANKlogo.png" type="image/png">
</head>
<body>
<script src="/script.js"></script>
<link href="/style.css" rel="stylesheet" type="text/css" />
<div class="topnav">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">FRANK Account&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href='/signup'>Signup for a FRANK account</a>
      <a href="/changedesc">Change your descripion</a>
      <a href="/changepass">Change your password</a>
      <a href="/deleteaccount">Delete your account</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Fmail&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/login">Check inbox</a>
      <a href="/sendmail">Send mail</a>
      <a href="/deletemail">Delete mail</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Fmedia&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/makethread">Make thread</a>
      <a href="/allthreads">See all threads</a>
      <a href="/deletethread">Delete thread</a>
      <a href="/likethread">Like thread</a>
      <a href="/unlikethread">Unlike thread</a>
    </div>
  </div>
  <!-- 
  <form>
    <div class="search-container">
      <input type="text" placeholder="Search..">
      <button type="submit">Submit</button>
    </div>
  </form> -->
</div>

<h3> {{text}} </h3>
<h1>Home</h1>
<h2>Introduction</h2>
<p>FRANK is a multi-purpose website, which includes a forum and a mailing service. After making a FRANK account, you can use it for all the things in the list below.</p>
<ul>
  <li>Fmail: the mailing service</li>
  <li>Fmedia: the forum</li>
</ul>
<h2>Creators</h2>
<p>These are the people who made the website:</p>
<ul>
<li><a href="/users/hellothere">VulcanWM's FRANK account</a> | <a href="https://repl.it/@VulcanWM">VulcanWM's repl.it account</a> | <a href="https://github.com/VulcanWM">VulcanWM's github account</a></li><br>
<li><a href="/users/javasuperhot">javasuperhot's FRANK account</a> | <a href="https://github.com/javaveryhot">javasuperhot's github account</a></li><br>
</ul>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177820778-1"></script>
</body>
</html>