<html>
<head>
<link rel="icon" href="static/FRANKlogo.png" type="image/png">
<link href="/style.css" rel="stylesheet" type="text/css" />
<script src="/script.js"></script>
</head>
<body>
<div class="topnav">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">FRANK Account&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href='/signup'>Signup for a FRANK account</a>
      <a href="/changedesc">Change your descripion</a>
      <a href="/changepass">Change your password</a>
      <a href="/deleteaccount">Delete your account</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Fmail&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/login">Check inbox</a>
      <a href="/sendmail">Send mail</a>
      <a href="/deletemail">Delete mail</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Fmedia&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/makethread">Make thread</a>
      <a href="/allthreads">See all threads</a>
      <a href="/deletethread">Delete thread</a>
      <a href="/likethread">Like thread</a>
      <a href="/unlikethread">Unlike thread</a>
    </div>
  </div>
</div>

<title> {{ dictname['Title']}} </title>
<a href="/allthreads"> <h2> Back </h2> </a>
<h3> Author: <a href="https://FRANK.vulcanwm.repl.com/users/{{ dictname['Author'] }}">{{ dictname['Author'] }}</a> </h3>
<p>Thread id: {{ dictname['_id'] }}
<h1> {{ dictname['Title']}} </h1>
<p> <strong> {{ dictname['Body'] }} </strong> </p>
{% if dictname['Voteslist'] == [] %}
  <h3>Likes: {{dictname['Votes']}}</h3>
{% else %}
  <h3>Likes: {{dictname['Votes']}}</h3>
  <h3>Likers: </h3>
  {% for voter in dictname['Voteslist']%}
    {% set url = "https://frank.vulcanwm.com/users/" + voter %}
    <a href={{url}}> {{voter}} </a>
  {% endfor %}
{% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177820778-1"></script>
</body>
</html>